Repository needlehack-team/needlehack, pull requests merged in 2019-07, with the labels that each got.

#14 [NH-001] - Added crawling process into collector artifact
  collector/boot/src/main/resources/application.yml
  collector/boot/src/main/resources/opml/engineering_blogs.opml
  collector/boot/src/test/java/org/needlehack/collector/helpers/World.java
  collector/boot/src/test/java/org/needlehack/collector/steps/CollectFeedSteps.java
  collector/boot/src/test/resources/application-test.yml
  collector/boot/src/test/resources/features/collect_feed.feature
  collector/boot/src/test/resources/rss/netflix-techblog.xml
  collector/boot/src/test/resources/rss/reactnative-techblog.xml
  collector/boot/src/test/resources/xml/netflix-techblog.xml
  collector/domain/src/main/java/org/needlehack/collector/domain/model/feed/ExtractorService.java
  collector/domain/src/main/java/org/needlehack/collector/domain/model/feed/FeedItem.java
  collector/domain/src/main/java/org/needlehack/collector/domain/model/feed/events/AppendedItem.java
  collector/infrastructure/pom.xml
  collector/infrastructure/src/main/java/org/needlehack/collector/infrastructure/config/BeanInitializr.java
  collector/infrastructure/src/main/java/org/needlehack/collector/infrastructure/crawl/CommonCrawler.java
  collector/infrastructure/src/main/java/org/needlehack/collector/infrastructure/crawl/CrawlerFactory.java
  collector/infrastructure/src/main/java/org/needlehack/collector/infrastructure/crawl/ICrawler.java
  collector/infrastructure/src/main/java/org/needlehack/collector/infrastructure/crawl/JsoupHelper.java
  collector/infrastructure/src/main/java/org/needlehack/collector/infrastructure/crawl/PostCrawler.java
  collector/infrastructure/src/main/java/org/needlehack/collector/infrastructure/crawl/dto/CrawlSection.java
  collector/infrastructure/src/main/java/org/needlehack/collector/infrastructure/crawl/dto/Post.java
  collector/infrastructure/src/main/java/org/needlehack/collector/infrastructure/events/subscribers/FeedStatusSubscriber.java
  collector/infrastructure/src/main/java/org/needlehack/collector/infrastructure/repositories/ElasticFeedItemRepository.java
  collector/infrastructure/src/main/java/org/needlehack/collector/infrastructure/repositories/ExtractorConfigJpaRepository.java
  collector/infrastructure/src/main/java/org/needlehack/collector/infrastructure/repositories/config/ElasticConfig.java
  collector/infrastructure/src/main/java/org/needlehack/collector/infrastructure/repositories/model/ExtractorConfigEntity.java
  collector/infrastructure/src/main/java/org/needlehack/collector/infrastructure/scheduler/BatchScheduler.java
  collector/infrastructure/src/main/java/org/needlehack/collector/infrastructure/services/JsoupExtractorService.java
  collector/infrastructure/src/main/resources/data.sql
  collector/usecases/src/main/java/org/needlehack/collector/usecases/feed/AppendFeedItem.java
  collector/usecases/src/main/java/org/needlehack/collector/usecases/feed/params/AppendingFeedItemParams.java
  collector/usecases/src/main/java/org/needlehack/collector/usecases/rss/CollectFeed.java
Labels: collector, enhancement

#5 Set README file from the devbunch source project
  README.md
Labels: documentation, enhancement

#15 [NH-002] - Added OpmlReader process to ingest all feeds related with it
  collector/boot/src/main/java/org/needlehack/collector/FeedCollectorApplication.java
  collector/boot/src/test/java/org/needlehack/collector/steps/CollectFeedSteps.java
  collector/domain/src/main/java/org/needlehack/collector/domain/model/feed/Feed.java
  collector/domain/src/main/java/org/needlehack/collector/domain/model/feed/events/RssConsumed.java
  collector/infrastructure/pom.xml
  collector/infrastructure/src/main/java/org/needlehack/collector/infrastructure/batch/BatchConfiguration.java
  collector/infrastructure/src/main/java/org/needlehack/collector/infrastructure/batch/processor/FeedItemProcessor.java
  collector/infrastructure/src/main/java/org/needlehack/collector/infrastructure/batch/reader/CollectorPersistingStore.java
  collector/infrastructure/src/main/java/org/needlehack/collector/infrastructure/batch/reader/FeedItemReader.java
  collector/infrastructure/src/main/java/org/needlehack/collector/infrastructure/batch/reader/dto/FeedLastInfo.java
  collector/infrastructure/src/main/java/org/needlehack/collector/infrastructure/batch/reader/dto/FeedLastInfoCollection.java
  collector/infrastructure/src/main/java/org/needlehack/collector/infrastructure/batch/writer/FeedItemSender.java
  collector/infrastructure/src/main/java/org/needlehack/collector/infrastructure/events/subscribers/FeedStatusSubscriber.java
  collector/infrastructure/src/main/java/org/needlehack/collector/infrastructure/runner/OpmlReader.java
  collector/infrastructure/src/main/java/org/needlehack/collector/infrastructure/scheduler/BatchScheduler.java
  collector/infrastructure/src/main/java/org/needlehack/collector/infrastructure/services/RssFeedListener.java
  collector/infrastructure/src/main/resources/opml/engineering_blogs.opml
  collector/usecases/src/main/java/org/needlehack/collector/usecases/rss/params/CollectingFeedParams.java
  collector/usecases/src/test/java/org/needlehack/collector/usecases/feed/CreateFeedItemTest.java
  collector/usecases/src/test/java/org/needlehack/collector/usecases/rss/CollectFeedTest.java
Labels: collector, enhancement

#4 [NH-016] - Migrate elastisearch client
  search-api/pom.xml
  search-api/src/main/kotlin/org/needlehack/searchapi/config/SearchApiConfig.kt
  search-api/src/main/kotlin/org/needlehack/searchapi/controller/SearchController.kt
  search-api/src/main/kotlin/org/needlehack/searchapi/dto/Post.kt
  search-api/src/main/kotlin/org/needlehack/searchapi/model/FeedItem.kt
  search-api/src/main/kotlin/org/needlehack/searchapi/model/Topic.kt
  search-api/src/main/kotlin/org/needlehack/searchapi/search/SearchClient.kt
  search-api/src/main/resources/application.yml
  search-api/src/test/kotlin/org/needlehack/searchapi/SearchApiApplicationTests.kt
Labels: enhancement, search API

#17 [NH-004] - Changed implementation in order to evict duplicated index
  collector/boot/src/main/resources/application.yml
  collector/boot/src/test/java/org/needlehack/collector/integration/ElasticFeedItemRepositoryTestIT.java
  collector/domain/src/main/java/org/needlehack/collector/domain/model/feed/FeedItem.java
  collector/domain/src/main/java/org/needlehack/collector/domain/model/feed/FeedRepository.java
  collector/domain/src/main/java/org/needlehack/collector/domain/model/feed/Topic.java
  collector/domain/src/main/java/org/needlehack/collector/domain/model/feed/events/FeedEvent.java
  collector/infrastructure/src/main/java/org/needlehack/collector/infrastructure/repositories/ElasticFeedItemRepository.java
  docker/docker-compose.yml
  docker/kibana/config/kibana.yml
Labels: collector

#25 [NH-021] - Unescape HTML format in the content field of FeedItem
  collector/boot/src/main/resources/application.yml
  collector/infrastructure/pom.xml
  collector/infrastructure/src/main/java/org/needlehack/collector/infrastructure/converter/FeedItemConverter.java
  collector/infrastructure/src/main/java/org/needlehack/collector/infrastructure/crawl/JsoupHelper.java
  collector/infrastructure/src/main/java/org/needlehack/collector/infrastructure/crawl/PostCrawler.java
  collector/infrastructure/src/main/java/org/needlehack/collector/infrastructure/services/RssFeedListener.java
  docker/kibana/config/kibana.yml
Labels: collector
